header{
    background-color: rgb(6, 62, 110);
    text-align: center;
    padding: 5px;
    border: 12px;
} 

nav{
    background-color: rgb(118, 166, 238);
    color: rgb(241, 233, 233);
    text-align: center;
    padding: 5px;
    border: 12px;
}
main{
    background-color: silver;
    display:grid;
    padding: 12px;
    text-align: center;
}
footer{
    background-color: aqua;
    text-align: center;
}